In [26]:
import pandas as pd

In [27]:
sub = pd.read_csv('sample submission.csv')
sub1 = pd.read_csv('blend_v1f.csv')    # lb : 1.6709681834762957
sub2 = pd.read_csv('MH20_FastAI_v2d.csv') # lb : 1.669271790926284

In [28]:
sub1.describe()

,0,1,2,3,4,5
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,0.156997,0.177870,0.217458,0.209064,0.071173,0.167439
std,0.051896,0.054466,0.035186,0.074145,0.055220,0.065883
min,0.048688,0.055671,0.103150,0.044515,0.010290,0.040531
25%,0.116381,0.134363,0.193668,0.152206,0.031043,0.117583
50%,0.150721,0.176249,0.216950,0.199068,0.056456,0.159916
75%,0.189666,0.219449,0.241391,0.264497,0.091631,0.210156
max,0.327776,0.342469,0.315964,0.416455,0.463691,0.439737

In [29]:
sub2.describe()

,0,1,2,3,4,5
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,0.148097,0.165343,0.235676,0.216950,0.055687,0.178249
std,0.059333,0.067998,0.055963,0.076056,0.054022,0.079338
min,0.033923,0.040243,0.071848,0.014927,0.002580,0.005969
25%,0.103805,0.114366,0.198205,0.161599,0.019678,0.117852
50%,0.144837,0.155475,0.226422,0.210871,0.039923,0.172606
75%,0.184257,0.208244,0.262318,0.274702,0.075427,0.236196
max,0.435589,0.483786,0.474071,0.442819,0.491675,0.448781

In [30]:
for i in sub.columns:
    sub[i] = .65 * sub1[i] + .35 * sub2[i]

sub.describe()

,0,1,2,3,4,5
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,0.153882,0.173485,0.223834,0.211824,0.065753,0.171222
std,0.052365,0.056262,0.039292,0.072501,0.052533,0.067426
min,0.048624,0.059314,0.096229,0.034159,0.007618,0.029189
25%,0.112970,0.128747,0.198457,0.157525,0.028501,0.119760
50%,0.148965,0.168900,0.219336,0.202808,0.051768,0.163040
75%,0.187728,0.215659,0.246274,0.268370,0.084773,0.217511
max,0.340201,0.383314,0.357762,0.413610,0.452065,0.412940

In [31]:
sub.to_csv('Blend_v4d.csv', index = False)# 65/35 lb : 1.6673069762554185