In [36]:
import pandas as pd

In [37]:
sub = pd.read_csv('sample submission.csv')
sub1 = pd.read_csv('Baseline_v1d.csv')
sub2 = pd.read_csv('MH20_FastAI_v1a.csv')

In [38]:
sub1.describe()

,0,1,2,3,4,5
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,0.160572,0.193437,0.206235,0.192433,0.081811,0.165512
std,0.036995,0.047352,0.035089,0.060914,0.049451,0.045607
min,0.072570,0.080711,0.081848,0.057456,0.021613,0.061616
25%,0.133344,0.157819,0.182063,0.146651,0.044024,0.135936
50%,0.158200,0.192802,0.204771,0.185580,0.066952,0.158288
75%,0.182946,0.228831,0.230120,0.230506,0.107168,0.190297
max,0.302119,0.366882,0.324938,0.431883,0.364492,0.379807

In [39]:
sub2.describe()

,0,1,2,3,4,5
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,0.154710,0.167917,0.224634,0.219698,0.064371,0.168670
std,0.072234,0.069655,0.047047,0.093708,0.071262,0.093366
min,0.018618,0.032466,0.051385,0.011541,0.002232,0.010246
25%,0.098151,0.110249,0.194325,0.146127,0.018069,0.099320
50%,0.143973,0.161916,0.225135,0.209276,0.039370,0.152884
75%,0.197863,0.219281,0.255865,0.293837,0.084269,0.229666
max,0.397343,0.370256,0.370951,0.465044,0.640687,0.659271

In [40]:
for i in sub.columns:
    sub[i] = .38 * sub1[i] + .62 * sub2[i]

sub.describe()

,0,1,2,3,4,5
count,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000,1267.000000
mean,0.156938,0.177615,0.217642,0.209337,0.070998,0.167470
std,0.052361,0.054782,0.035406,0.074571,0.055545,0.066515
min,0.048296,0.055076,0.101823,0.043788,0.010084,0.039790
25%,0.115913,0.134304,0.193650,0.151764,0.030837,0.117157
50%,0.150391,0.176345,0.217057,0.199120,0.055903,0.159922
75%,0.189857,0.219463,0.241903,0.265003,0.091130,0.210577
max,0.329516,0.343181,0.316466,0.417043,0.468230,0.445366

In [41]:
sub.to_csv('Blend_v1f.csv', index = False)# 39/61 lb : 1.6709681834762957 --> Best